*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Quicksand, sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 32px;
  background: #1e90ff;
  color: #fff;
}

header {
  justify-content: center;
  display: flex;
  width: calc(100% + 64px);
  margin: -32px 0 32px -32px;
  padding: 16px;
  background-color: #2f3542;
  align-items: center;
}

header img {
  height: 32px;
  margin-right: 8px;
}

header p {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  margin: 0 0 32px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form div {
  flex: calc(100% / 3 - 32px);
  margin-left: 16px;
}

form div:first-child {
  margin-left: 0;
}

.group {
  display: flex;
  margin: 16px 0 0;
}

label {
  margin-bottom: 16px;
  font-weight: 700;
  display: block;
}

input, button, .reset {
  display: block;
  width: 100%;
  padding: 16px;
  border: 1px solid #f1f2f6;
  border-radius: 4px;
  outline: none;
}

button {
  cursor: pointer;
  color: #fff;
  border-color: #2ed573;
  background-color: #2ed573;
}

footer {
  color: #ced6e0;
  margin-top: auto;
  text-align: center;
  font-size: 0.75rem;
}

p {
  margin: 0 0 16px 0;
}

.reset {
  cursor: pointer;
  width: auto;
  margin-left: 16px;
  padding: 16px;
  border-color: #ff4757;
  background-color: #ff4757;
}

.result {
  margin: 32px 0;
}

.result-group {
  display: flex;
}

.result-group div {
  flex: 50%;
  padding-left: 16px;
  border-left: 1px solid #fff;
}

.result p {
  font-weight: 700;
}

.result p.left {
  margin: 32px 0 0 0;
}

.result div:first-child {
  margin-right: 16px;
}

.result ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.popup {
  cursor: pointer;
  text-align: center;
  font-size: 0.75rem;
  width: 100%;
  padding: 16px;
  color: #fff;
  bottom: 0;
  left: 0;
  background: #ff4757;
  margin: 0;
  display: none;
  position: absolute;
}

@media (min-width: 768px) {
  body {
    max-width: 768px;
    margin: auto;
  }
}

.new-design .result-group div {
  background: rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 4px;
  padding: 16px;
}

.new-design .result-group p {
  margin: 0 0 8px 0;
}

.new-design .result-group div:not(:last-child) {
  margin-right: 16px;
}
